@font-face {
  font-family: 'marking';
  src:  url('fonts/marking.eot?2ahpf5');
  src:  url('fonts/marking.eot?2ahpf5#iefix') format('embedded-opentype'),
    url('fonts/marking.ttf?2ahpf5') format('truetype'),
    url('fonts/marking.woff?2ahpf5') format('woff'),
    url('fonts/marking.svg?2ahpf5#marking') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="marking"], [class*=" marking"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'marking' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marking_bandui:before {
  content: "\e900";
  color: #faaf43;
}
.marking_cuo:before {
  content: "\e901";
  color: #f33f34;
}
.marking_dui:before {
  content: "\e902";
  color: #00b86e;
}
