@charset "utf-8";
/* CSS Document */
.fontLabel strong:not(.custom-style) {
    font-weight: bolder;
}
.fontLabel b:not(.custom-style) {
    font-weight: bolder;
}
.fontLabel em:not(.custom-style) {
    font-style: italic;
}

.fontLabel i:not(.custom-style) {
    font-style: italic;
}